# Module Configuration
API_URL=https://api.meshur.co

# Logger Configuration (optional)
LOG_LEVEL="debug"

# Next.js Configuration (optional)
NEXT_PUBLIC_URL=http://localhost:3000

# Sentry Environment Variables
NEXT_PUBLIC_SENTRY_DSN=your_public_dsn_here
SENTRY_DSN=your_server_dsn_here